.products {
  padding-top: 28px;
  padding-bottom: 90px;
}

.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 44px;
}

.products__title {
  font-size: 36px;
  font-weight: 700;
}

.products__search {
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: #FFF;
  padding: 5px 10px;
}

.products__search:focus {
  outline: none;
}

.products__search::placeholder {
  color: #BFBFBF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products__card {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.products__image {
  width: 100%;
}

.products__wrapper {
  padding: 20px 23px 35px;
}

.products__wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.products__wrapper-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.products__wrapper-header p span {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  background-color: #262626;
  padding: 1px 8px;
}
.products__info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products__rating {
  display: flex;
  align-items: center;
  gap: 7px;
}

.products__rating span {
  color: #FFC107;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.products__price {
  display: flex;
  gap: 10px;
}

.products__price span {
  color: #8C8C8C;
  font-size: 18px;
  line-height: 32px;
}

.goods-card {

}

.goods-card__image {

}

.goods-card__title {
  font-weight: 400;
  margin-bottom: 10px;
}

.goods-card__description {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.goods-card__info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.goods-card__btn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 2px;
  background-color: #1890FF;
  padding: 8px 16px;
}

.goods-card__price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}


@media (max-width: 991px) {
  .products__card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 576px) {
  .products__card {
    width: 100%;
  }
}